body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 99vh;
  margin-top: 5px;
  margin: 1px;
  border: black solid 2px;
}

header {
  height: 10vh;
  width: 98vw;
  border: black solid 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin: 1px;
}

.card-header {
  text-align: center;
  font-size: 20px;
  width: 70%;
}

.main-top {
  margin: 2px;
  padding: 5px;
  height: 45vh;
  width: 96vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.searchFighterA {
  margin: 2px;
  height: 35vh;
  flex-basis: 35%;
  background-color: rgba(0, 0, 190, 0.829);
  display: flex;
  flex-direction: row;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fighterInput {
  margin: 2px;
  padding-bottom: 10px;
  height: fit-content;
  flex-basis: 85%;
  background-color: darkgray;
  display: flex;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-containerLg {
  width: 95%;
  border-radius: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/*                                             */
.row-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2px;
}

.row-header {
  margin: 2px;
}
/*                                              */
.input-row {
  display: flex;
  flex-direction: row;
  min-width: 100%;
}
/*                                              */
#firstName {
  width: 33%;
}
#lastName {
  width: 34%;
}
#total-fights {
  width: 33%;
}
/*                                              */
#ufc-fights {
  width: 33%;
}
#fight-mins {
  width: 34%;
}
#fight-secs {
  width: 33%;
}
/*                                             */
#striking-acc {
  width: 20%;
}
#striking-def {
  width: 20%;
}
#strikes-Lpm {
  width: 30%;
}
#strikes-Apm {
  width: 30%;
}
/*                                             */
#td-acc {
  width: 33%;
}
#td-def {
  width: 34%;
}
#td-Lpm {
  width: 33%;
}
/*                                              */
#strikes-standing {
  width: 33%;
}
#strikes-clinch {
  width: 34%;
}
#strikes-ground {
  width: 33%;
}
/*                                              */
#win-dec {
  width: 33%;
}
#win-ko {
  width: 34%;
}
#win-sub {
  width: 33%;
}
/*                                              */
#loss-dec {
  width: 33%;
}
#loss-ko {
  width: 34%;
}
#loss-sub {
  width: 33%;
}
/*                                               */
#kd-per15 {
  width: 100%;
}
/*                                                */
.register-fighter {
  margin: 2px;
  margin-top: 10px;
  border-radius: 10%;
}

.searchFighterB {
  margin: 2px;
  height: 35vh;
  flex-basis: 35%;
  background-color: maroon;
  display: flex;
  flex-direction: row;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-bottom {
  margin: 2px;
  padding: 5px;
  height: 45vh;
  width: 96vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.fighter1-stats {
  margin: 2px;
  height: 35vh;
  flex-basis: 35%;
  background-color: rgba(0, 0, 190, 0.829);
  display: flex;
  flex-direction: row;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fightCard-cont {
  margin: 2px;
  height: 35vh;
  flex-basis: 30%;
  background-color: darkgray;
  display: flex;
  flex-direction: row;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fighter2-stats {
  margin: 2px;
  height: 35vh;
  flex-basis: 35%;
  background-color: maroon;
  display: flex;
  flex-direction: row;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  border-bottom: solid black 2px;
}

footer {
  height: 10vh;
  width: 98vw;
  border: black solid 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin: 1px;
}
